
body { 
    background-color: #101414;
    color: #c7cccb;
    font-family: Iosevka Web,Consolas,Courier,monospace;
    /* font-family: Unknown Galaxy;  */
    margin: 1em auto;
    max-width: 46em;
}

h1, h2 {
  border-bottom: 0.01em solid #9995;
}

pre {
    background-color: #141b2c;
    font-family: JuliaMono;
    /* font-family: Unknown Galaxy;  */
    font-size: 12px;
}

a {
    color: #00ace9;
}


button {
    margin: 0 0.5em; 
}
